.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}

.note{
    font-size: 14px;
    color: black;
}
.copy_right_footer{
    bottom: 0;
    position: fixed;
    text-align: center;
    background-color: rgba(137, 201, 226, 0.984);
    color: black;
    width: 100%;
    line-height: 3;
    font-size: 15px;
}

canvas{
    border: 5px solid white;
    box-shadow: 5px 5px 5px grey;
    border-radius: 20px;
}

body{
    background-size: cover;
}